In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
csv_files = glob.glob('*.csv')

In [3]:
df_list = []

for file in csv_files:
    df = pd.read_csv(file)
    df_list.append(df)

In [4]:
df_final = pd.concat(df_list, ignore_index=True)

In [5]:
df_final.to_csv('concatenated_csv.csv', index=False)

In [6]:
df2 = df_final.stack().reset_index()
df2= df2.rename(columns={'level_0': 'Index','level_1':'Topic', 0: 'Value'})

In [7]:
column_length=df.columns[:]
column_length
c_l=len(column_length)
print(c_l)

4

In [8]:
df2.drop(df2.loc[df2['Topic']=="index"].index, inplace=True)

In [25]:
loc_index=0
i=0
j=1
k=1
indexing=[]
first_value=df_final.iloc[0].Search_Query


for d in df_final['Search_Query']:
    i+=1
    if(first_value!=d):
        j+=1
        i=1
        first_value=d
    for a in range (1,c_l+1):
        indexing.append(str(j)+"."+str(i)+"."+str(a))

In [26]:
df2['Index']=pd.Series(indexing)

In [27]:
df2

    Index         Topic                                              Value
0   1.1.1  Search_Query                                              apple
1   1.1.2         Title                             Apple Inc. - Wikipedia
2   1.1.3   Description  Apple is the largest technology company by rev...
3   1.1.4          Link           https://en.wikipedia.org/wiki/Apple_Inc.
4   1.2.1  Search_Query                                              apple
..    ...           ...                                                ...
95  5.4.4          Link  https://www.britannica.com/animal/elephant-mammal
96  5.5.1  Search_Query                                           elephant
97  5.5.2         Title          Our top 10 facts about elephants - WWF-UK
98  5.5.3   Description  The African Savanna (Bush) elephant is the wor...
99  5.5.4          Link  https://www.wwf.org.uk/learn/fascinating-facts...

[100 rows x 3 columns]

In [29]:
df2.to_csv("final.csv",index=False)