In [2]:
import pandas as pd
import numpy as np

In [3]:

df = pd.read_json ('recipes.json', lines=True)
df.to_csv('final_csv.csv',index = None)

In [8]:

df['unit'] = df['unit'].replace("", np.nan)

In [10]:
df.dropna(inplace=True)

In [11]:
df2 = df.stack().reset_index()
df2= df2.rename(columns={'level_0': 'Index','level_1':'Topic', 0: 'Value'})

In [12]:
df2.head()

   Index                  Topic               Value
0      0            ingredients               apple
1      0                     id              673463
2      0  missedIngredientCount                   2
3      0                   type  missed__ingredient
4      0                  aisle   Canned and Jarred

In [13]:
column_length=df.columns[:]
column_length
c_l=len(column_length)
print(c_l)

10

In [14]:
df2.drop(df2.loc[df2['Topic']=="index"].index, inplace=True)

In [15]:
loc_index=0
i=0
j=1
k=1
indexing=[]
first_value=df.iloc[0].ingredients


for d in df['ingredients']:
    i+=1
    if(first_value!=d):
        j+=1
        i=1
        first_value=d
    for a in range (1,c_l+1):
        indexing.append(str(j)+"."+str(i)+"."+str(a))

In [16]:
df2['Index']=pd.Series(indexing)

In [17]:
df2

        Index                  Topic                        Value
0       1.1.1            ingredients                        apple
1       1.1.2                     id                       673463
2       1.1.3  missedIngredientCount                            2
3       1.1.4                   type           missed__ingredient
4       1.1.5                  aisle            Canned and Jarred
...       ...                    ...                          ...
1265   5.26.6    usedIngridientCount                            1
1266   5.26.7                  title      No-Cook Cranberry Salad
1267   5.26.8                   name  whole berry cranberry sauce
1268   5.26.9                   unit                           oz
1269  5.26.10                 amount                         32.0

[1270 rows x 3 columns]

In [18]:
df2.to_csv("format.csv",index=False)