In [54]:
import pandas as pd
import numpy as np

In [55]:

df = pd.read_json ('recipes.json', lines=True)
df.to_csv('final_csv.csv',index = None)

In [56]:

df['unit'] = df['unit'].replace(" ", np.nan)

In [63]:
df.dropna(inplace=True)

In [64]:
df.head()

,ingredients,id,missedIngredientCount,type,aisle,usedIngridientCount,title,name,unit,amount
0,apple,673463,2,missed__ingredient,Canned and Jarred,2,Slow Cooker Apple Pork Tenderloin,beef broth,cups,2.0
1,apple,673463,2,missed__ingredient,Meat,2,Slow Cooker Apple Pork Tenderloin,pork tenderloin,serving,1.0
2,apple,673463,2,used__ingredient,Produce,2,Slow Cooker Apple Pork Tenderloin,apple,serving,1.0
3,apple,673463,2,used__ingredient,Produce,2,Slow Cooker Apple Pork Tenderloin,green apples,,2.0
4,apple,660261,2,missed__ingredient,Spices and Seasonings,1,Slow Cooked Applesauce,cinnamon,teaspoon,0.5

In [32]:
df2 = df.stack().reset_index()
df2= df2.rename(columns={'level_0': 'Index','level_1':'Topic', 0: 'Value'})

In [33]:
df2.head()

   Index                  Topic               Value
0      0            ingredients               apple
1      0                     id              673463
2      0  missedIngredientCount                   2
3      0                   type  missed__ingredient
4      0                  aisle   Canned and Jarred

In [34]:
column_length=df.columns[:]
column_length
c_l=len(column_length)
print(c_l)

10

In [35]:
df2.drop(df2.loc[df2['Topic']=="index"].index, inplace=True)

In [36]:
loc_index=0
i=0
j=1
k=1
indexing=[]
first_value=df.iloc[0].ingredients


for d in df['ingredients']:
    i+=1
    if(first_value!=d):
        j+=1
        i=1
        first_value=d
    for a in range (1,c_l+1):
        indexing.append(str(j)+"."+str(i)+"."+str(a))

In [37]:
df2['Index']=pd.Series(indexing)

In [38]:
df2

        Index                  Topic                    Value
0       1.1.1            ingredients                    apple
1       1.1.2                     id                   673463
2       1.1.3  missedIngredientCount                        2
3       1.1.4                   type       missed__ingredient
4       1.1.5                  aisle        Canned and Jarred
...       ...                    ...                      ...
1615   5.42.6    usedIngridientCount                        1
1616   5.42.7                  title  No-Cook Cranberry Salad
1617   5.42.8                   name                   orange
1618   5.42.9                   unit
1619  5.42.10                 amount                      2.0

[1620 rows x 3 columns]

In [39]:
df2.to_csv("format.csv",index=False)